# Logs
*.log
yarn.lock
.DS_Store
package-lock.json
test-report.xml
kafka/kafka
kafka/zookeeper
mongo/db

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity